/* reset */

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(0, 0, 0);
}

header {
  background-color: rgb(189, 171, 198);
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(images/fruit-salad.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

h1 {
    font-family: 'Verdana';
    font-size: 10vw;
    /*background-color: rgba(190, 186, 186, 0.361);
    padding: 10px 20px;
    border-radius: 30px;*/
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: 0px 0px 10px rgb(68, 14, 68);
}

.flex-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
}
.flex-item {
  font-family: 'Verdana';
  font-size: 5vw;
  width: 300px;

  flex-basis: calc(52.1% - 30px - 20px);
  flex-grow: 0;
  flex-shrink: 0;
  padding: 10px;
  
  background-color: rgb(213, 233, 240);
  border-radius: 20px;
  border-style: solid;
  border-color: whitesmoke;
  color: rgb(0, 0, 0)
}

.itemApple {
  background-color: red;
}
.itemDurian {
  background-color: rgb(195, 186, 90);
}
.itemGrape {
  background-color: rgb(99, 54, 143);
}
.itemWatermelon {
  background-color: rgb(243, 145, 145);
}
.itemCantaloupe {
  background-color: rgb(202, 133, 69);
}
.itemPear {
  background-color: rgb(175, 234, 178);
}

img.AppleImage{
    width: 50%;
    align-self: center;
}
img.DurianImage{
    width: 80%;
}
img.CantaloupeImage{
    width: 50%;
}
img.PearImage{
    width: 68%;
}
img.GrapeImage{
    width: 65%;
}
img.WatermelonImage{
    width: 50%;
}
footer {
  background-color: black;
  color: rgb(204, 143, 184);
  font-size: 20px;
  padding: 20px;
  text-align: center;
  font-family: fantasy;
}
footer a{
  color: rgb(204, 143, 184);
  text-decoration: none;
}
footer a:hover{
  text-decoration: underline;
}
@media screen AND (max-width: 600px) AND (orientation: portrait){
  .flex-item{
    flex-basis: 100%;
  }
}